.home {
  text-align: center;
}

.home img {
  max-width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}


/* butoane */
.home_buttons button {
  font-family: "Amatic SC", bold;
  cursor: pointer;
  margin-top: 1%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 2px solid rgb(0, 94, 0);
  color: white;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(0, 175, 0),
    rgb(0, 115, 0) 10%,
    rgb(205, 135, 0) 10%,
    rgb(255, 175, 20) 20%
  );
  background-size: 100%;
  transition: background 0.3s ease-in-out;
}

.home_buttons button:hover {
  background-position: 150px;
}

.home_buttons button:active {
  box-shadow: 0 0 50px lightgreen, 0 0 50px lightgreen;
}
