.login {
  margin: 5% auto;
  padding: 1%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 45px;
  border: 2px solid green;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  animation-duration: 1s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

.logo img {
  margin-top: 3%;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
  width: 100%;
  padding: 2% 4%;
  font-size: 125%;
  border: 1px solid green;
  border-radius: 40px;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.login label {
  font-family: "Amatic SC";
  font-weight: bold;
  text-shadow: 0 0 3px white, 0 0 5px lightgreen;
  font-size: 200%;
  color: green;
  display: block;
  margin-bottom: 5%;
}

#reset_password {
  font-family: "Amatic SC";
  font-weight: bold;
  text-shadow: 0 0 3px white, 0 0 5px green;
  font-size: 150%;
  color: white;
  display: block;
  margin-top: 3%;
}

.login button {
  font-family: "Amatic SC", bold;
  cursor: pointer;
  margin-top: 2%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 2px solid rgb(0, 94, 0);
  color: white;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(0, 175, 0),
    rgb(0, 115, 0) 10%,
    rgb(205, 135, 0) 10%,
    rgb(255, 175, 20) 20%
  );
  background-size: 100%;
  transition: background 0.3s ease-in-out;
}

.login button:hover {
  background-position: 150px;
}

.login button:active {
  box-shadow: 0 0 50px lightgreen, 0 0 50px lightgreen;
}

.login .portocala {
  position: absolute;
  left: 2%;
  top: 75%;
  width: 11%;
  height: auto;
}

.login .lamaie {
  position: absolute;
  right: 1.5%;
  top: 75%;
  width: 11%;
  height: auto;
}

#spatiere {
  margin-top: 30%;
  margin-bottom: 30%;
}
