#user-info {
    font-family: "Amatic SC", bold;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    font-size: x-large;
    text-align: left;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0%;
    width: 44%;
    height: 35%;
    margin: auto;
    padding: 0.5%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 35px;
    border: 3px solid green;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px green,
      0.3em 0.3em 1em black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 3%;
    margin-left: 3%;
}


#user-info textarea {
  width: 100%;
  padding: 2% 2%;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 25px;
  box-sizing: border-box;
  margin-bottom: 2%;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  resize: none;
  margin-top: 1%;

}

#user-info h1 {
  font-family: "Amatic SC";
  font-weight: bold;
  text-shadow: 0 0 3px white, 0 0 5px lightgreen;
  font-size: 300%;
  color: green;
  display: block;
  margin-bottom: 0%;
  margin-top: 0%;
}

#user-info p {
    font-family: "Amatic SC";
    font-weight: bold;
    text-shadow: 0 0 3px white, 0 0 5px lightgreen;
    font-size: 150%;
    color: green;
    display: block;
    margin-bottom: 0%;
    margin-top: 0.5%;
}


#user-info input[type="submit"] {
    font-size: 100%;
    padding: 5px 35px;
    font-family: "Amatic SC", bold;
    cursor: pointer;
    margin-top: 0%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 40px;
    border: 2px solid rgb(0, 94, 0);
    color: white;
    background-image: repeating-linear-gradient(
      90deg,
      rgb(0, 175, 0),
      rgb(0, 115, 0) 10%,
      rgb(205, 135, 0) 10%,
      rgb(255, 175, 20) 20%
    );
    background-size: 100%;
    transition: background 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .logo img{
    display: flex;
    max-width: 35%;
    position: absolute;
    margin-left: 57%;
    margin-top:2%;
  }